 <!-- Секция footer -->
<footer>
      <section class="footer bg-secondary">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-6">
                      {% comment %} <h4>info</h4> {% endcomment %}
                      <ul class="list-unstyled">
                          <li><a href="#">Главная</a></li>
                          <li><a href="#">Категории</a></li>
                          <li><a href="#">Контакты</a></li>
                      </ul>
                  </div>

                  <div class="col-md-3 col-6">
                      {% comment %} <h4>Время работы</h4> {% endcomment %}
                      <ul class="list-unstyled">
                          <li><a href="#">Адрес</a></li>
                          <li><a href="#">0996072979</a></li>
                      </ul>
                  </div>

                  <div class="col-md-3 col-6">
                    {% comment %} <h4>Контакты</h4> {% endcomment %}
                    <ul class="list-unstyled">
                        <li><a href="#">0996072979</a></li>
                        <li><a href="#">0996072979</a></li>
                    </ul>
                </div>

                  <div class="col-md-3 col-6">
                      {% comment %} <h4>Ссылки</h4> {% endcomment %}
                      <div class="footer-icons">
                          <a href="#"><i class="fa-brands fa-facebook"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram"></i></a>
                          <a href="#"><i class="fa-brands fa-telegram"></i></a>
                      </div>
                  </div>

              </div>
          </div>
      </section>
</footer>
<!-- Секция footer -->