
 <!-- Секция навигации -->
 <div class="p-3 section-title bg-secondary">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-md-6">

                    <h4>+3 8099 607 29 79</h4>

                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <!--  впервый блок меню -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'shop:product_list' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:all-by-category' %}">Категории</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Связь</a>
              </li>
            </ul><!--  впервый блок меню -->

            <!--  второй блок меню -->
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="fa-regular fa-heart"></i></a>
                </li>
                <li class="nav-item"><!-- регистрация -->
                  <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>

                <li class="nav-item dropdown"><!--  выпадающий список регистрация -->
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i class="fa-regular fa-user"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Регистрация</a></li>
                  </ul>
                </li><!--  выпадающий список регистрация -->
            </ul><!--  второй блок -->

          </div>
        </div>
    </nav>

 <!-- Секция навигации -->