{% extends 'shop/base.html' %}
{% load static %}

{% block content %}


{% comment %} Секция главный экран {% endcomment %}
<div class="bg-image d-flex justify-content-center align-items-center" style="background-image:url('{% static 'image/tara.jpg' %}'); height: 100vh;">
  <div class="conteiner">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
        <h1 class="text_description" style="word-wrap: break-word; font-weight: 700; font-size: 65px; color:  #1d2ee3">Интернет магазин еды в городе Днепр</h1>
        <p>Свежая еда с доставкой по всему городу Днепр</p>
        <button type="button" class="btn btn-success">Связатся с менеджером</button>
      </div>
    </div>
  </div>
</div>
{% comment %} Секция главный экран {% endcomment %}


{% comment %} Секция категории {% endcomment %}
<div class="p-3 section-title mb-5">
  <div class="container">
      <div class="row justify-content-center align-items-center text-center">
          <div class="col-md-6">

              <h4 style="color: #1d2ee3">Категории магазина</h4>

          </div>
      </div>
  </div>
</div>
{% comment %} Секция категории {% endcomment %}


{% comment %} Секция категории {% endcomment %}
<section class="main-content px-5">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          {% for category in categories %}
              <div class="col">
                  <div class="card h-100" style="border: none;">
                      <img src="{{ category.image.url }}" class="card-img-top img-fluid" alt="..."  style="object-fit: cover; width: 100%; height: 200px;">
                      <div class="card-body d-flex flex-column">
                        <a href="{% url 'shop:product-list-by-category' category.slug %}" style="text-decoration: none;">
                          <h5 class="card-title">{{ category.name }}</h5>
                          <p class="card-text">{{ category.description }}</p>
                        </a> 
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
</section>
{% comment %} Секция категории {% endcomment %}



{% comment %} Секция категории {% endcomment %}
<div class="p-3 section-title mb-5">
  <div class="container">
      <div class="row justify-content-center align-items-center text-center">
          <div class="col-md-6">
              <h4 style="color: #1d2ee3">Все товары магазина</h4>
          </div>
      </div>
  </div>
</div>
{% comment %} Секция категории {% endcomment %}

{% comment %} Секция карточка {% endcomment %}
<section class="main-content px-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="..."  style="object-fit: cover; width: 100%; height: 200px;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                            <div class="btn mt-auto">
                                 <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Описание</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% comment %} Секция карточка {% endcomment %}


{% comment %} Секция пагинации {% endcomment %}
{% include 'include/paginator.html' %}
{% comment %} Секция пагинации {% endcomment %}


{% comment %} Секция категории {% endcomment %}
<div class="p-3 section-title mb-5">
  <div class="container">
      <div class="row justify-content-center align-items-center text-center">
          <div class="col-md-6">

              <h4 style="color: #1d2ee3">Почему мы</h4>
              <p>Мы интернет магазин вкусной еды, у нас вы можете заказать продукцию с скидками и доставкой по городу </p>

          </div>
      </div>
  </div>
</div>
{% comment %} Секция категории {% endcomment %}


{% comment %} Секция приимущества {% endcomment %}
<section class="advantages">
  <div class="conteiner">
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-lg-4 col-md-6 col-sm-8 mb-5">
        <div class="image-product mb-2"><i class="fa-solid fa-headphones"  style="font-size: 40px; color: green;"></i></div>
        <h5>Всегда на связе</h5>
        <p>24/7 менеджер на связи</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-8 mb-5">
        <div class="image-product mb-2"><i class="fa-solid fa-percent" style="font-size: 40px; color: green;"></i></div>
        <h5>Скидки</h5>
        <p>Постоянные акции и скидки</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-8 mb-5">
        <div class="image-product mb-2"><i class="fa-solid fa-ranking-star"  style="font-size: 40px; color: green;"></i></div>
        <h5>Качество говорит за нас</h5>
        <p>Качество производителя</p>
      </div>
    </div>
  </div>
</section>
{% comment %} Секция приимущества {% endcomment %}



{% comment %} Секция часто задаваемые воросы {% endcomment %} 
    <div class="p-3 section-title">
      <div class="container">
          <div class="row justify-content-center align-items-center text-center">
              <div class="col-md-6">

                  <h4 style="color: #1d2ee3">Часто задаваемые вопросы</h4>

              </div>
          </div>
      </div>
    </div>
{% comment %} Секция часто задаваемые воросы {% endcomment %} 

{% comment %} Секция часто задаваемые воросы {% endcomment %} 
    <div class="conteiner">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-6 mb-5">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Как купить товар
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">При клике на покупку вы вызываете нашего менеджера</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Как работает наш магазин
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Наш магазин работает 24/7 и вы можете заказать любой интересующий товар связавшись с нашим менеджером</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Сколько стоит доставка
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Связавшись с нашим менеджером вы можете обговорить стоимость заказа  у нас действуют скидки и акции</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
{% comment %} Секция часто задаваемые воросы {% endcomment %} 


{% endblock %}
